 .u-section-1 {
  background-image: linear-gradient(#db545a, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
} .u-section-2 {
  background-image: linear-gradient(#f1c50e, #41807c);
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
} .u-section-3 {
  background-image: linear-gradient(#41807c, #4d4d4d);
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}